#div1{
	width: 18.75rem;
	height: 12.5rem;
	background-color: antiquewhite;
	border:0.125rem;
	position: absolute;
	top: 6.25rem;
	left: 25rem;
}
#div2{
	width: 18.75rem;
	height: 12.5rem;
	background-color: #00FFFF;
	border: 0.125rem;
	position: absolute;
	top: 8.125rem;
	left: 21.875rem;
}